<div class="d-flex justify-content-center">
  <div *ngIf="sunValue == 'peu'">
    <i class="fi fi-sr-brightness" style="color: rgb(255, 204, 0)"></i>
    <i class="fi fi-sr-brightness"></i>
    <i class="fi fi-sr-brightness"></i>
  </div>

  <div *ngIf="sunValue == 'moyen'">
    <i class="fi fi-sr-brightness" style="color: rgb(255, 204, 0)"></i>
    <i class="fi fi-sr-brightness" style="color: rgb(255, 204, 0)"></i>
    <i class="fi fi-sr-brightness"></i>
  </div>

  <div *ngIf="sunValue == 'beaucoup'">
    <i class="fi fi-sr-brightness" style="color: rgb(255, 204, 0)"></i>
    <i class="fi fi-sr-brightness" style="color: rgb(255, 204, 0)"></i>
    <i class="fi fi-sr-brightness" style="color: rgb(255, 204, 0)"></i>
  </div>
</div>
