<div class="card text-center">
  <div>
    <img class="card-img-top" src="{{ plant.image }}" alt="Card image cap" />
    <app-heart></app-heart>
  </div>

  <div class="card-body">
    <h6 class="card-title">{{ plant.nom }}</h6>
    <p class="card-text">{{ plant.categorie }}</p>

    <div class="soins">

      <div class="eau">
      <app-water [waterValue]="waterValue"></app-water>
      </div>

      <div class="soleil">
       <app-sun [sunValue]="sunValue"></app-sun>
      </div>

    </div>
  </div>
</div>
