<div class="container mt-3">
  <h1 class="title">🪴 Super Natural Crops and Flowers</h1>
  
  <div class="container-components mt-3">

    <app-filter-bar class="pt-2" [tabCategorie]="tabCategorie" [tabEau]="tabEau" [tabSoleil]="tabSoleil" (newCaterogyEvent)="onFiltreCategorie($event)" (newEauEvent)="onFiltreEau($event)" (newSoleilEvent)="onFiltreSoleil($event)"></app-filter-bar>

    <div class="m-1">
    <app-search-bar (searchFilter)="onSearchValue($event)"></app-search-bar>
    <app-sort-bar (newSortEvent)="onSortValue($event)" [compteurValue]="compteurValue"></app-sort-bar>
    <app-plant-list [plants]="plantsToDisplayFilter"></app-plant-list>
    </div>

  </div>
  

</div>