<div class="card pb-2" style="width: 16rem">
  <div class="card-header" style="background-color: rgba(0, 112, 62, 0.115)">Filtres</div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item mb-2">Catégories</li>

    <div class="form-check" *ngFor="let categorie of tabCategorie">
      <input
        class="form-check-input"
        type="checkbox"
        value="{{ categorie }}"
        id="{{ categorie }}"
        (change)="onCheckCategory($event)"
      />
      <label class="form-check-label" for="{{ categorie }}">
        {{ categorie }}
      </label>
    </div>

    <li class="list-group-item border mt-2 mb-2">Arrosage</li>

    <div class="form-check" *ngFor="let arrosage of tabEau">
      <input
        class="form-check-input"
        type="checkbox"
        value="{{ arrosage }}"
        id="{{ arrosage }}"
        (change)="onCheckEau($event)"
      />
      <label class="form-check-label" for="{{ arrosage }}">
        <div *ngIf="arrosage == 0">
          <i class="fi fi-rs-humidity"></i>
        </div>

        <div *ngIf="arrosage == 1">
          <i class="fi fi-ss-humidity" style="color: rgba(0, 112, 62, 0.93)"></i>
        </div>

        <div *ngIf="arrosage == 2">
          <i class="fi fi-ss-humidity" style="color: rgba(0, 112, 62, 0.93)"></i>
          <i class="fi fi-ss-humidity" style="color: rgba(0, 112, 62, 0.93)"></i>
        </div>

        <div *ngIf="arrosage == 3">
          <i class="fi fi-ss-humidity" style="color: rgba(0, 112, 62, 0.93)"></i>
          <i class="fi fi-ss-humidity" style="color: rgba(0, 112, 62, 0.93)"></i>
          <i class="fi fi-ss-humidity" style="color: rgba(0, 112, 62, 0.93)"></i>
        </div>
      </label>
    </div>

    <li class="list-group-item border mt-2 mb-2">Ensoleillement</li>
    <div class="form-check" *ngFor="let soleil of tabSoleil">
      <input
        class="form-check-input"
        type="checkbox"
        value="{{ soleil }}"
        id="{{ soleil }}"
        (change)="onCheckSoleil($event)"
      />
      <label class="form-check-label" for="{{ soleil }}">
        <div *ngIf="soleil == 'peu'">
          <i class="fi fi-sr-brightness" style="color: rgb(255, 204, 0)"></i>
          <i class="fi fi-sr-brightness"></i>
          <i class="fi fi-sr-brightness"></i>
        </div>

        <div *ngIf="soleil == 'moyen'">
          <i class="fi fi-sr-brightness" style="color: rgb(255, 204, 0)"></i>
          <i class="fi fi-sr-brightness" style="color: rgb(255, 204, 0)"></i>
          <i class="fi fi-sr-brightness"></i>
        </div>

        <div *ngIf="soleil == 'beaucoup'">
          <i class="fi fi-sr-brightness" style="color: rgb(255, 204, 0)"></i>
          <i class="fi fi-sr-brightness" style="color: rgb(255, 204, 0)"></i>
          <i class="fi fi-sr-brightness" style="color: rgb(255, 204, 0)"></i>
        </div>
      </label>
    </div>
  </ul>
</div>
