<div class="sort-bar">
  <div>
    <p>Trier par : </p>
  </div>

  <div>
    <button id="buttonAlpha" type="button" class="btn btn-outline-success" value="alpha" (click)="this.newSortEvent.emit($event)">Alpha</button>
    <button id="buttoneEau" type="button" class="btn btn-outline-success" value="eau" (click)="this.newSortEvent.emit($event)">Arrosage</button>
    <button id="buttonSoleil" type="button" class="btn btn-outline-success" value="soleil" (click)="this.newSortEvent.emit($event)">Ensoleillement</button>
  </div>
</div>
