<div *ngIf="waterValue == 0">
  <i class="fi fi-rs-humidity"></i>
  <i class="fi fi-rs-humidity"></i>
  <i class="fi fi-rs-humidity"></i>
</div>

<div *ngIf="waterValue == 1">
  <i class="fi fi-ss-humidity" style="color: rgba(0, 112, 62, 0.93);"></i>
  <i class="fi fi-rs-humidity"></i>
  <i class="fi fi-rs-humidity"></i>
</div>

<div *ngIf="waterValue == 2">
  <i class="fi fi-ss-humidity" style="color: rgba(0, 112, 62, 0.93);"></i>
  <i class="fi fi-ss-humidity" style="color: rgba(0, 112, 62, 0.93);"></i>
  <i class="fi fi-rs-humidity"></i>
</div>

  <div *ngIf="waterValue == 3">
  <i class="fi fi-ss-humidity" style="color: rgba(0, 112, 62, 0.93);"></i>
  <i class="fi fi-ss-humidity" style="color: rgba(0, 112, 62, 0.93);"></i>
  <i class="fi fi-ss-humidity" style="color: rgba(0, 112, 62, 0.93);"></i>
</div>
